<!DOCTYPE html>
<html>
  <head>
    <title>Findyourmatch</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
  </head>

  <body>
    <%= render 'shared/navbar' %>
    <p class="notice container"><%= notice %></p>
    <p class="alert container"><%= alert %></p>
    <%= yield %>
    <footer>
      <div class="container statis-bottom">
        <hr>
        <h5 class="text-center footer">&copy; Made by Bram & Maressa</h5>
        <br>
      </div>
    </footer>
  </body>
</html>
